.flex-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: auto;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 10px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-1 {
    margin: 10px;
    height: 100px;
    width: 900px;
    background-color: lightgray;
}
.box-2 {
    height: 300px;
    width: 300px;
    background-color:lightgray;
}
.box-3 {
    height: 300px;
    width: 300px;
    background-color:lightgray;
}
.box-4 {
    height: 300px;
    width: 300px;
    background-color:lightgray;
}