.flex-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 1000px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 10px;
    margin: auto;
}
.box-1 {
    height: 100px;
    width: 900px;
    margin: auto;
    background-color: lightgray;
}
