@font-face {
    font-family: Monsterrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 600px;
    background: url("/img/Rectangle.jpg") no-repeat center fixed; 
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
}

.header-menu ul {
    display: flex;
    flex-flow: row wrap;
    margin: 40px;
    padding: 0;
}
.header-menu li {
    margin-right: 20px;
}
.header-menu li:last-child {
    margin-right: 0;
}
.header-menu a {
    padding: 8px 10px;
}
.header-logo {
    margin: 30px;
}
.header-contacts {
    margin: 30px;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

.header-logo a {
    font-size: 36px;
    font-weight: 900;
}

.logo-1 {
    color: #0F4898;
    font-family: Roboto;
}

.logo-2 {
    color:white;
    font-family: Roboto;
}

.header-menu li a {
    color: white;
    font-size: 13px;
    line-height: 16px;
    font-family: Monsterrat;
}

.header-contacts a {
    color: white;
    font-size: 12px;
    line-height: 14px;
    font-family: Roboto;
}

.underline {
    height: 0px;
    width: 100%;
    border: 1px solid white;
    margin-bottom: 90%;
}



.title-1 {
    padding-top: 100px;
    margin-left: 200px;
    font-size: 30px;
    line-height: 35px;
    font-family: Roboto;
}

.undertitle-1 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-left: 200px;
    font-family: Roboto;
}

.main__flexbox-1 {
    display: flex;
}

.flexbox-1__block-1 {
    margin: 40px 40px 40px 200px ;
    padding: 40px;
    background-color: white;
    font-size: 13px;
    font-size: 13px;
    line-height: 22px;
    z-index: 1;
    font-family: Monsterrat;
}

.flexbox-1__img-1 {
    width: 427px;
    height: 450px;
    margin-top: -60px;
    margin-left: -100px;
    z-index: 0;
}

.main__flexbox-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-shrink: 0;
}

.main__button-news {
    color: white;
    width: 139px;
    height: 40px;
    border: 1px solid #0F4898;
    background: #0F4898;
    margin: 100px 75px 40px 0;
    font-family: Roboto;
}

.container-1 {
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
}

.main__flexbox-1::after{
    width: 60%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #e20c0cf6;
    z-index: -1;
}




