header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    min-height: 1000px;
    background: lightblue;
    color: white;
}

.header-menu {
    flex-grow: 1;
}
.header-menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 30px;
    padding: 0;
}
.header-menu li {
    margin-right: 20px;
}
.header-menu li:last-child {
    margin-right: 0;
}
.header-menu a {
    padding: 8px 10px;
    text-decoration: none;
}
.header-logo {
    margin: 30px;
}
.header-contacts {
    margin: 30px;
    font-size: 1.4rem;
}
