.title {
    position: absolute;
    width: 1920px;
    height: 750px;
    background: linear-gradient(0deg, rgba(15, 72, 152, 0.6), rgba(15, 72, 152, 0.6)),
}
.title-1 {
    position: relative;
    left: 702px;
top: 47px;
}
.title-2 {
    position: absolute;
}
.title-3 {
    position: absolute;
}
.title-4 {
    position: absolute;
}
.title-5 {
    position: absolute;
}
.title-6 {
    position: absolute;
}
.title-7 {
    position: absolute;
}
.title-8 {
    position: absolute;
}
.title-9 {
    position: absolute;
}
.title-10 {
    position: absolute;
}