@font-face {
    font-family: Monsterrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}
header {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    background: url("/img/Rectangle.jpg") no-repeat center fixed; 
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
}

.header-menu ul {
    display: flex;
    flex-flow: row wrap;
    margin: 40px;
    padding: 0;
}
.header-menu li {
    margin-right: 20px;
}
.header-menu li:last-child {
    margin-right: 0;
}
.header-menu a {
    padding: 8px 10px;
}
.header-logo {
    margin: 30px;
}
.header-contacts {
    margin: 30px;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

.header-logo a {
    font-size: 36px;
    font-weight: 900;
}

.logo-1 {
    color: #0F4898;
    font-family: Roboto;
}

.logo-2 {
    color:white;
    font-family: Roboto;
}

.header-menu li a {
    color: white;
    font-size: 13px;
    line-height: 16px;
    font-family: Monsterrat;
}

.header-contacts a {
    color: white;
    font-size: 12px;
    line-height: 14px;
    font-family: Roboto;
}

.underline {
    height: 0px;
    width: 100%;
    border: 1px solid white;
    margin-bottom: 90%;
}

.title-1 {
    padding-top: 100px;
    font-size: 30px;
    line-height: 35px;
    font-family: Roboto;
}

.undertitle-1 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    font-family: Roboto;
}

.main__flexbox-1 {
    display: flex;
    align-items: center;
}

.flexbox-1__block-1 {
    margin: 40px 40px 100px 0 ;
    padding: 40px;
    background-color: white;
    font-size: 13px;
    line-height: 22px;
    z-index: 1;
    font-family: Monsterrat;
}

.offer__slider-wrapper {
    width: 427px;
    height: 450px;
    margin-top: -60px;
    margin-left: -100px;
    z-index: 0;
}

.main__flexbox-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.main__button-news {
    display: inline-block;
    padding: 15px;
    color: white;
    border: 1px solid #0F4898;
    background: #0F4898;
    margin: 100px 0 40px 785px;
    font-family: Roboto;
}

.main__button-news:hover {
    background:red;
}

.container-1 {
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
}

.box-1 {
    position: relative;
}

.box-1::before{
    content: "";
    display: block;
    position: absolute;
    background-color: #E5E5E5;
    z-index: -1;
    width: 60%;
    left: 0;
    top: 0;
    bottom: 0;
}

.box-2 {
    position: relative;
    background-color: #E5E5E5;
    z-index: -2;
}

.box-2::before{
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    z-index: -1;
    width: 60%;
    left: 0;
    top: 0;
    bottom: 0;
}

.button__btn-prev {
    min-height: 40px;
    min-width: 40px;
}

.button__btn-next {
    min-height: 40px;
    min-width: 40px;
}

.offer__slide img {
    width: 427px;
    height: 450px;
}

a:hover {
    color: red;
}
li a:hover {
    color: red;
}

#header-p {
    padding-top: 10px;
}

.container-2 {
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
}

.main__flexbox-3 {
    display: flex;
    flex-flow: no-wrap;
    flex-shrink: 1;
    justify-content: space-between;
}

.flexbox-3__item {
    width: 30%;
    box-shadow: 0 0 5px;
    display: flex;
    flex-flow: column no-wrap;
}







