// @mixin border-radius($radius) { 
//     -webkit-border-radius: $radius;
//     -moz-border-radius: $radius;
//     -ms-border-radius: $radius;
//     border-radius: $radius;
// }
// .box-1 {
//     @include border-radius(10px);
// }

.block-1 {
    animation-duration: 2s;
    animation-name: example;
}

@keyframes example {
    from {
        background: red;
    }
    to {
        background: blue;
    }
}
.block-2 {
    animation-duration: 1s infinity;
}
